<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="owner block" itemscope itemtype="http://data-vocabulary.org/Person"> 
				<div class="row">
					<div class="owner-photo col-sm-3 col-lg-2">
						<img src="{{asset "img/profile.jpg"}}" alt="Robert Nealan" />
					</div>
					<div class="owner-bio col-sm-9 col-lg-10">
						<p>I'm <span itemprop="name">Robert Nealan</span>, a <span itemprop="title">designer + developer</span> living in beautiful San Francisco. When I'm not writing here I'm either busy running things at <span itemprop="affiliation"><a href="http://atomidesign.com">Atomi Design</a></span> or planning events for <span itemprop="affiliation"><a href="http://dwc.io">Designers Who Code</a></span>.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>