<aside class="page--sidebar col-md-3 col-md-push-1">
	<div class="page--sidebar--inner">
		<div itemscope itemtype="http://data-vocabulary.org/Person"> 
			<!--<div class="avatar">
				<img src="{{asset "img/profile.jpg"}}" alt="Robert Nealan" />
			</div>-->

			<p class="content--text--small"><strong>Robert Nealan</strong><br />is a San Francisco based <span itemprop="title">designer + developer</span>, the founder of <span itemprop="affiliation"><a href="http://atomidesign.com">Atomi Design</a></span> and <span itemprop="affiliation"><a href="http://dwc.io">Designers Who Code</a></span>, and an avid weekend warrior <a href="https://www.strava.com/athletes/7380923">cyclist</a>.
		</div>
	</div>
</aside>

