<footer class="page--footer col-md-4">
	<div class="page--footer--inner">
		<div class="page--footer--top">
			<div id="mc_embed_signup">
				<form class="block" action="http://houseofatomi.us6.list-manage.com/subscribe/post?u=0d27bc7070b7644b5ae41e696&amp;id=0cbe722dd9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<p>Subscribe to receive mind-blowing updates right in your inbox!</p>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address (Spam not included)" required="">
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_0d27bc7070b7644b5ae41e696_0cbe722dd9" tabindex="-1" value=""></div>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
				</form>			
			</div>
		</div>

		<div class="page--footer--bottom">
			<p>Made with Ghost, Sass, and a lot of love in wonderful San Francisco</p>
		</div>
	</div>
</footer>