<footer class="page-wrapper">
	<div class="page-footer container">
		<div id="mc_embed_signup">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<form class="block" action="http://houseofatomi.us6.list-manage.com/subscribe/post?u=0d27bc7070b7644b5ae41e696&amp;id=0cbe722dd9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
						<p>Subscribe to receive great email updates about topics ranging from tech to tacos!</p>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address (You know you want to.)" required="">
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_0d27bc7070b7644b5ae41e696_0cbe722dd9" tabindex="-1" value=""></div>
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</form>
					</div>
			</div>
		</div>

		<div class="post-footer-bottom row t-center">
			<p>All content copyright Robert Nealan &copy; 2014 &bull; All rights reserved.</p>
			<p>Made with <span class="hearts">&hearts;</span> in San Francisco</p>
		</div>
	</div>
</footer>

<div class="page-wrapper page-cover"></div>