<header class="page--header col-md-4 col-md-push-8">
	<div class="page--header--content">
		<div itemscope itemprop="founder" itemtype="http://schema.org/Person">
			<a href="/" class="avatar" title="Home">
				<img src="{{asset "img/profile-2.jpg"}}" alt="Robert Nealan" itemprop="image" />
			</a>
			<p class="content--text--small">
				{{@site.description}}
			</p>
		</div>
		{{> nav}}
	</div>
</header>