<header class="page-wrapper page-wrapper-header">
	<div class="page-header container" role="navigation">
		<div class="row">
			<div class="col-xs-2 logo">
				<a href="/">
					<img src="{{asset "img/logo.png"}}" width="80" height="40" alt="Logo">
				</a>
			</div>
			<div class="col-xs-10">
				<a href="#" class="menu-trigger pull-right">Menu <i class="icon-menu-1"></i></a>
			</div>
		</div>
	</div>
</header>