<nav class="page-nav" role="navigation">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		<!--<li>
			<a href="/designing-in-the-browser">Designing in the Browser</a>
		</li>-->
		<li>
			<a href="/contact">Contact</a>
		</li>
	</ul>
</nav>