<nav class="page-nav">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		<li>
			<a href="/contact">Contact</a>
		</li>
	</ul>
	<ul>
		<li><h3>Elsewhere</h3></li>
		<li>
			<a href="http://twitter.com/robertnealan">@robertnealan</a>
		</li>
		<li>
			<a href="http://atomidesign.com">Atomi Design</a>
		</li>
		<li>
			<a href="http://dwc.io">Designers Who Code</a>
		</li>
	</ul>
</nav>