<nav class="pagination clearfix" role="pagination">
    {{#if prev}}
    	<a href="{{pageUrl prev}}" class="button button-neutral"><i class="icon-left-open"></i></a>
    {{/if}}
    <!--<span class="page-number">Page {{page}} of {{pages}}</span>-->
    {{#if next}}
        <a href="{{pageUrl next}}" class="button button-neutral"><i class="icon-right-open"></i></a>
    {{/if}}
</nav>