{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<main class="page-wrapper" role="main">

    <div class="container">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}
            <article class="post">
                <div class="row">
                <header class="post-header col-md-8">
                    <h1 class="post-title">{{{title}}}</h1>
                </header>

                <section class="post-content post-full">
                    {{content}}
                </section>
                </div>
            </article>
        {{/post}}

    </div>

</main>

