{{!< default}}

<main class="page--main col-md-7 col-md-pull-4" role="main">
    <header class="page__header">
        <h1 class="loop-title">{{tag.name}} Posts</h1>
    </header>

    <div class="post-preview">
        {{> "_loop"}}
    </div>
</main>
