
.icon-menu:before { content: '\e800'; } /* '' */
.icon-menu-1:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */