/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

@import "bootstrap";
@import "fontello";

@import "utils/variables";

@import "base/typography";
@import "base/buttons";
@import "base/forms";

@import "layout/main";
@import "layout/header";
@import "layout/footer";
@import "layout/posts";

@import "components/author";
@import "components/tags";
@import "components/excerpt";

@import "vendor/mailchimp";
@import "vendor/twitter";



body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	font-size: $body-font-size;
	line-height: $body-line-height;
}

.page--sidebar {
	background: #fafafa;
	color: #666;
	height: 100%;
	position: fixed;
	left: 66.66%;
	padding-top: 10rem;
	top: 0;
	&::before {
		background: #fafafa;
		content: '';
		display: block;
	position: fixed;
	height: 100%;
	width: 33.33%;
	top: 0;
	left: 66.66%;
	}
}

.page--sidebar--inner {
	padding: 0 40px;
	position: relative;
	
}

.page--sidebar-background {
	
}
.avatar {
	@include border-radius(50%);
	height: 120px;
	margin: 0 auto 1em auto;
	overflow: hidden;
	position: relative;
	width: 120px;
	img {
		width: 100%;
	}
}
.hearts {
	color: #f00;
}

.block {
	margin-bottom: 4rem;
	padding-bottom: 4rem;
}