/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

@import "bootstrap";
@import "fontello";

@import "utils/variables";

@import "base/typography";
@import "base/buttons";
@import "base/forms";

@import "layout/main";
@import "layout/header";
@import "layout/footer";

@import "components/excerpt";
@import "components/posts";

@import "vendor/mailchimp";
@import "vendor/twitter";



body {
	background: $primary-color;
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	font-size: $body-font-size;
	line-height: $body-line-height;
}


.avatar {
	@include border-radius(50%);
	height: 130px;
	margin: 0 0 2rem 0;
	overflow: hidden;
	position: relative;
	width: 130px;
	img {
		width: 100%;
	}
}

.hearts {
	color: #f00;
}

.block {
	margin-bottom: 4rem;
	padding-bottom: 4rem;
}