.post-tags, .post-author {
	border-bottom: 1px solid $default-border-color;
	@media(min-width: 768px) {
		border-bottom: none;
		margin: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.post-tags {
	border-left: 1px solid $default-border-color;
}