.button {
	@include transition(background .2s linear);
	background: transparent;
	border: 1px solid #fff;
	display: inline-block;
	font-family: $font-family-sans;
	@include border-radius(30px);
	height: 46px;
	line-height: 46px;
	padding: 0 1.25em;
	text-align: center;
	i {
		height: 0px;
		line-height: 46px;
	}
}

.button-primary {
	background: $link-color;
	border: none;
	color: #fff;
	&:hover {
		background: $link-color-hover
	}
}

.button-neutral {
	border: 1px solid #ccc;
	border-radius: 30px;
	color: #ccc;
	line-height: 1em;
	&:hover {
		@include background(none);
		border: 1px solid $link-color-hover;
		color: $link-color-hover;
		text-decoration: none;
	}
}

.pagination {
	@include pie-clearfix;
	.button {
		
		&:nth-child(2) {
			margin-left: 10px;
		}
		.icon-right-open {
			margin-left: 2px;
		}
		.icon-left-open {
			margin-right: 2px;
		}
		@media screen and (max-width: $screen-sm) {
			display: block;
			float: left;
			width: 48%;
			&:nth-child(2) {
				margin-left: 4%;
			}
		}
	}
}
