.page--footer {
	background: #eb664b;
	color: #fff;
	padding: 8rem 0 4rem 0;
	position: relative;
	text-align: center;
	z-index: 5;
}

.page--footer--bottom {
	font-family: $font-family-sans;
	font-size: 1.4rem;
}