.page--header {
	background: #fafafa;
	color: #999;
	height: 100%;
	padding-top: 10rem;
	position: relative;
	top: 0;

	&::before {
		background: #fafafa;
		content: '';
		display: block;
		height: 10000px;
		position: absolute;
		left: 0;
		top: 0;
		width: 10000px;
	}
	.site--name {
		color: #333;
		font-weight: 700;
	}
	@media screen and (max-width: $screen-sm) {
		border-bottom: 1px solid #ddd;
		padding-bottom: 4rem;
		padding-top: 4rem;
		&::before {
			display: none;
		}
	}
}

.page--header--content {
	position: relative;
	z-index: 2;
}

.page-nav {
	//border-top: 1px solid #eee;
	font-size: 1.5rem;
	font-weight: $body-font-weight;
	letter-spacing: 0.08em;
	margin-top: 2rem;
	padding-top: 4rem;
	ul {
		li {
		}
	}
	/*ul {
		@include horizontal-list(false);
		
		li {
			padding: 0 0 0 1.2em;
			
			&:first-child {
				padding-left: 0;
			}
			
			&:last-child {
				&::after {
					color: #fff;
				}
			}

			&::after {
				content: '/';
				color: #aaa;
				font-size: 1.2rem;
				padding-left: 1em;
				position: relative;
				top: -2px;
			}

			&.back {
				border-right: 1px solid #ddd;
				padding-right: 2em;
				&::after {
					content: '';
					display: block;
					padding-left: 2em;
					position: relative;
					top: -2px;
				}
			}
		}
	}*/
}