.page--header {
	color: #999;
	height: 100%;
	padding-top: 10rem;
	position: relative;
	top: 0;

	.site--name {
		color: #333;
		font-weight: 700;
	}
	@media screen and (max-width: $screen-sm) {
		border-bottom: 1px solid #ddd;
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
	@media screen and (max-width: $screen-md) {
		&::before {
			display: none;
		}
	}
}

.page--header--content {
	position: relative;
	z-index: 2;
}

.page-nav {
	//border-top: 1px solid #eee;
	font-size: 1.5rem;
	font-weight: $body-font-weight;
	letter-spacing: 0.08em;
	padding-top: 4rem;
	ul {
		li {
		}
	}
}

.avatar {
	@include border-radius(50%);
	cursor: pointer;
	display: block;
	height: 130px;
	margin: 0 0 2rem 0;
	overflow: hidden;
	position: relative;
	@include transition(box-shadow 0.25s ease-in-out);
	width: 130px;

	img {
		@include user-select(none);
		width: 100%;
	}

	&:hover {
		box-shadow: 0 0 0 5px $primary-color;
	}
}